.bg_con{
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}
body{
    background-color: rgb(252, 203, 239);
}
.back_post{
    background-color: #4973e7; /* Green */
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}


a { color: inherit; } 

.delete_button{
    background-color: rgb(235, 66, 66); /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

.update_button{
    background-color: #788af3; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

.button{
    margin-left: 1000px;
}